@media only screen and (min-width: 1200px) {
    // AUTH
    #auth {
        #auth-left {
            .auth-logo {
                margin-bottom: 3rem;
            }
            .auth-title {
                font-size: 3rem;
            }
            .auth-subtitle {
                font-size: 1.25rem;
            }
        }
    }
}