@media only screen and (max-width: 549px) {
    // AUTH
    #auth #auth-left {
        .auth-logo {
            margin-bottom: 2rem;
        }
        .auth-title {
            font-size: 2.4rem;
        }
        .auth-subtitle {
            font-size: 1.2rem;
            line-height: 2rem;
        }
    }

    // FORM
    .form-control.form-control-xl {
        font-size: 1rem;
        & ~ .form-control-icon {
            top: 0.75rem;
        }
    }
}
